.navigation-circle {
    position: fixed;
    top: 1em;
    left: 1em;
    width: 8em;
    height: 8em;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
    overflow: hidden;
    cursor: pointer;
  }
  
  .navigation-circle.hovered {
    width: 20em;
    height: 8em;
    border-radius: 1em;
    background-color: rgba(214, 113, 19, 0.8);
  }
  
  .circle-content {
    display: none;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-around;
  }
  
  .navigation-circle.hovered .circle-content {
    display: flex;
  }
  
  .navigation-links {
    margin: 1em;
    color: black;
    text-align: center;
  }