.navigation-bar{
    background-color: blue;
    width: 100%;
    height: 100vh;
    display: grid;
    align-content: start;
    border: none;
    
}

.navigation-links{
    margin: 1em;
    color: Gold;
    text-align: center;
}

.name-header{
    margin-top: 1em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.react-header{
    font-weight: bold;
    color: red;
    text-align: center;
}